:root {
    --accent: #34eb9e;
}
button {
    border-width: 0px;
    border-radius: 3px;
    background-color: var(--accent);
    color: black;
    text-align: center;
    transition: 0.0234s;
    width: 100px;
    height: 40px;
    font-size: 13px;
    margin: 2px;
}
button:hover {
    cursor: pointer;
}
button.active {
    background-color: black;
    color: var(--accent);
}

button:active {
    filter: brightness(90%);
}

.category {
    overflow: hidden;

    border-width: 0px;
    border-radius: 3px;
    color: black;
    text-align: center;
    transition: 1s;
    width: 104px;
    height: 44px;
}

.category:hover {
    width: fit-content;
}