:root {
    --accent: #34eb9e;
}
button {
    border: 1px solid var(--accent);
    border-radius: 3px;
    background-color: var(--accent);
    color: black;
    text-align: center;
    transition: 0.0234s;
    width: 100px;
    height: 40px;
    font-size: 13px;
    margin-right: 4px;
    margin-bottom: 4px;
}
button:hover {
    cursor: pointer;
}
button.active {
    border: 1px solid var(--accent);
    background-color: black;
    color: var(--accent);
}

button:active {
    filter: brightness(90%);
}