* {
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
    font-family: "VT323";
}
html {
    background-image: url("https://images.unsplash.com/photo-1642272083829-4feeddd903dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    backdrop-filter: blur(1px) saturate(200%) brightness(70%);
    height: 100vh;
}
body {
    margin: 0px;
    overflow: hidden;
}
.widget {
    position: fixed;
    background-color: rgba(255,255,255,0.6);
    cursor: grab;
    border-radius: 15px;
    padding: 0px;
    overflow: hidden;
}
.resize {
    border-radius: 0px;
    resize: both;
}
button {
    background-color: white;
    width: 8vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 0;
    border: 0px;
    border-bottom: 1px solid black;
}
.mini button {
    width: 2vw;
    height: 7vh;
}
button:hover {
    filter: brightness(85%);
    cursor: pointer;
}
button:active {
    filter: brightness(70%);
}
.buttons {
    display: none;
}
.grid {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image:
      repeating-linear-gradient(rgb(255,255,255,0.5) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, rgb(255,255,255,0.5) 0 1px, transparent 1px 100%);
    background-size: 20px 20px;
}
.modal {
    display: none;
    z-index: 128;
    position: fixed;
    top: 25vh;
    left: 25vw;
    height: 50vh;
    width: 50vw;
    background-color: white;
}