/* The sidebar */
.sidebar {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 128; /* Sit on top */
    left: 0;
    top: 0;
    padding: 25px;
    width: 350px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    backdrop-filter: blur(1px) grayscale(10%) brightness(90%);
}
.widgetButton {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 300px;
    height: 100px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
    overflow: hidden;
}
.sideWidge button {
    float: right;
}
.sideWidge h2:hover {
    cursor: pointer;
    filter: opacity(0.5);
}
.sideWidge h2::after {
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.inactive:after {
    content: '\002B';
}
.active:after {
    content: "\2212";
}