body {
    background-image: url("https://images.unsplash.com/photo-1642451932866-f58e37c8ba3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    background-size: cover;
}
.gear {
    background-image: url("https://www.seekpng.com/png/full/928-9287664_gear-transparent-png-clip-clipart-transparent-background-gear.png");
    height: 40px;
    width: 40px;
    position: absolute;
}
.head {
    color: white;
    text-align: center;
}
.widget {
    padding: 1%;
    float: left;
    position: relative;
    outline: 1px solid black;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    width: 40%;
    height: 150px;
    overflow-y: hidden;
    background-color: aliceblue;
    opacity: 0.7;
}
.sidebar {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%;
    background-color: white;
    padding: 10px;
}
select, .items {
    background-color: aquamarine;
    padding: 8px 16px;
    margin: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border: 1px solid transparent;
    padding: 8px 16px;
    user-select: none;
}
select:hover, .items:hover {
    user-select: none;
    filter: brightness(85%);
}
.filler {
    width: 100%;
    height: 95vh;
}