/* The sidebar */
.sidebar {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    padding: 25px;
    width: 350px;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    backdrop-filter: blur(1px) grayscale(10%) brightness(90%);
}
.widgetButton {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 300px;
    height: 100px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
}
.sideWidge button {
    float: right;
}