html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "seaford"
}

button {
  pointer-events: auto;
  padding: 10px 16px;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  font-weight: bold;
  border: 1px solid #888;
  border-radius: 6px;
  cursor: pointer;
}